body {
  font-family: sans-serif;
}

input {
  border-radius: 16px;
  border: none;
  padding: 5px 15px;
  outline: none;
}

button {
  border-radius: 16px;
  border: none;
  padding: 4px 16px;
}

button:hover {
  background-color: #ff7fff;
  color: #fff;
  cursor: pointer;
}

.input-area {
  background-color: #c1ffff;
  width: 400px;
  height: 30px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.imcomplete-area {
  background-color: #c6ffe2;
  width: 400px;
  min-height: 200px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.complete-area {
  background-color: #ffffe0;
  width: 400px;
  min-height: 200px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.title {
  text-align: center;
  margin-top: 0;
}
